[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
django-tastypie = "*"
djangorestframework = "*"
pillow = "*"
django-rest-authemail = "*"
gunicorn = "*"
whitenoise = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
oauth2client = "*"

[requires]
python_version = "3.7"
